:root {
  --cream: #fff8ef;
  --brown: #6b4632;
  --caramel: #c58b55;
  --rose: #d9a48f;
  --dark: #3d2b22;
  --white: #ffffff;
}




* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}


html {
  scroll-behavior:smooth;
}

section {
  padding: 0 32px;
}


body {
  font-family: "Georgia", serif;
  background:var(--cream);
  color:var(--dark);
  line-height:1.6;
  max-width: 100vw;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  
}

img {
  width: 100%;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

/*NAVIGATION*/

nav {
  padding-top: 32px;
  display: flex;
  width: 100%;
  
}

.nav__row {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  height: 60px;
  
}

.nav__container {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__links {
  display: flex;
  
}

.nav__link {
  font-size: 16px;
  font-weight: 500;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
  text-decoration: none;
  margin: 0 24px;
  color: var(--dark);
}


.nav__link:hover {
  color: var(--caramel);
}


/*HEADER*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header .container {
   display: flex;
   justify-content: space-between;
}

header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
}


.header__description h1 {
  color:var(--brown)
}

.header__description {
  width: 40%;
  
}

.header__description--para {
  margin: 32px 0;
  font-size:1.15rem;
}


.header__explore--btn {
  padding: 18px 36px;
  border-radius: 30px;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: var(--caramel);
  border: none;
}

.header__explore--btn:hover {
  background: var(--brown);
}



.collage {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  justify-content: space-between;
}


.collage__img {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
  display: none;
  position: absolute;
  margin: 100px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.collage__img:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-140%, -140%);
  margin-top: 50px;
  animation-delay: 0s;
}
.collage__img:nth-child(2) {
  top: 50%;
  left: 0;
  transform: translate(-20%, -10%);
  animation-delay: 0.3s;
}
.collage__img:nth-child(3) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  animation-delay: 0.6s;
}
.collage__img:nth-child(4) {
  bottom: 0;
  left: 50%;
  transform: translate(-30%, 60%);
  animation-delay: 1s;
}
